.popup {
  position: fixed;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
  display: none;
  background: #0000008c;
}

