.profile__info
  display grid
  max-width 336px
  column-gap 18px
  row-gap 16px
  grid-template-areas "name edit-button" "subtitle subtitle"
  @media (max-width: tablet)
    row-gap 14px
    column-gap 10px
    margin 26px 0 36px