section.profile
    img.profile__avatar(alt="фото пользователя" src=require('../../images/profile.jpg'))
    .profile__info
        h1.profile__name Жак-Ив Кусто
        p.profile__subtitle Исследователь океана
        button(type="button" class="profile__edit-button" name="edit-button")
    button(type="button" class="profile__add-button" name="add-button")
