.profile__edit-button
  width 24px
  height 24px
  background-image url("../../../images/EditButton.svg")
  background-repeat no-repeat
  background-color transparent
  border 1px solid #fff
  grid-area edit-button
  align-self center
  background-position 50%
  tr(all, .4s)
  cursor pointer
  &:hover
    opacity .6
  @media (max-width: tablet)
    width 18px
    height 18px