extends common/layout

block variables
    - var pageTitle = 'Mesto'

block content
    main.content
        include includes/profile
        include includes/elements

block popup
    include includes/popup/popup-edit/popup-edit
block scripts
    script(src='../scripts/popup.js')
    script(src='../scripts/editPopup.js')