.popup__content
  background adt-color
  width 100%
  max-width 430px
  border-radius 10px
  box-sizing border-box
  position relative
  box-shadow 0 0 25px rgba(0, 0, 0, 0.15)
  margin 0
  padding 34px 36px 37px
  border none
  transition: all 0.8s ease 0s;
  opacity 0
  transform perspective(600px) translate(0px, -100%) rotateX(45deg)
  @media (max-width tablet)
    max-width 282px
    padding 22px 25px
