@import "../vendor/normalize.css"
@import "../vendor/fonts/_fonts.styl"
@import "../stylus/variables.styl"
@import "../stylus/mixins.styl"

@import "../blocks/page/page.styl"

@import "../blocks/header/header.styl"
@import "../blocks/header/__logo/header__logo.styl"

@import "../blocks/profile/profile.styl"
@import "../blocks/profile/__avatar/profile__avatar.styl"
@import "../blocks/profile/__info/profile__info.styl"
@import "../blocks/profile/__name/profile__name.styl"
@import "../blocks/profile/subtitle/profile__subtitle.styl"
@import "../blocks/profile/__edit-button/profile__edit-button.styl"
@import "../blocks/profile/add-button/profile__add-button.styl"

@import "../blocks/elements/elements.styl"
@import "../blocks/elements/__items/elements__items.styl"
@import "../blocks/elements/__item/elements__item.styl"
@import "../blocks/elements/__picture/elements__picture.styl"
@import "../blocks/elements/__description/elements__description.styl"
@import "../blocks/elements/__title/elements__title.styl"
@import "../blocks/elements/__like-button/elements__like-button.styl"

@import "../blocks/footer/footer.styl"
@import "../blocks/footer/__copyright/footer__copyright.styl"

@import "../blocks/popup/popup.styl"

