.elements__like-button
  mask-image url("../../../images/heart.svg")
  width 22px
  height 19px
  background-color main-color
  mask-repeat no-repeat
  border 0
  cursor pointer
  tr(all, .4s)
  &:hover
    opacity .5
  &:active
    mask-image url("../../../images/Union.svg")


